@import "./../variables";
@import "./../mixins";

.checkbox {
  @include default-icon-size;

  border-radius: 2px;
  border: 1px solid $color-disabled-grey;

  -moz-appearance: none;
  -webkit-appearance: none;
  cursor: pointer;

  &:hover {
    border: 1px solid $color-hover-blue;
  }

  &:checked {
    border-color: $color-primary-blue;
    background: $color-primary-blue url("./../../svg/Check.svg") no-repeat center center;

    &:hover {
      border-color: $color-hover-blue;
      background: $color-hover-blue url("./../../svg/Check.svg") no-repeat center center;
    }
  }
}