@import "./../variables";
@import "./../mixins";

.checkbox {
  width: 16px;
  height: 16px;

  border-radius: 2px;
  border: 1px solid $color-disabled-grey;

  -moz-appearance:none;
  -webkit-appearance:none;
  cursor: pointer;

  &:hover {
    border: 1px solid $color-hover-blue;
  }

  &:checked {
    border: 1px solid $color-primary-blue;

    &:hover {
      background: $color-hover-blue;
      fill: $color-hover-blue;
    }
  }
}