@import "./../variables";
@import "./../mixins";
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.modal {
  &-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $color-white;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }

  &-header {
    height: 70px;
    box-shadow: 0 4px 10px 0 $color-disabled-grey;
    @include flex-align-centered;
    justify-content: space-between;
    padding: 23px 30px;


    h1 {
      font: 24px Poppins, sans-serif;
      font-weight: 600;
      color: $color-default-text;
      margin: 0;
    }

    svg {
      cursor: pointer;
    }
  }

  &-content {
    padding: {
      left: 148px;
      top: 60px;
    }
    @include for-small-screens {
      padding: {
        left: 40px;
        top: 40px;
      }
    }
    color: $color-default-text;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    h2 {
      font: 18px Poppins, sans-serif;
      font-weight: 600;
      color: $color-default-text;
      width: fit-content;

      @include for-small-screens {
        text-align: left;
        width: 50vw;
      }
    }
  }
}

.header-selection {
  @include flex-align-centered;
  margin-top: 40px;

  @include for-small-screens {
    margin-top: 20px;
  }

  #header-checkbox {
    margin-right: 10px;
  }
}

.button-container {
  display: flex;
  margin-top: 40px;
  padding-bottom: 50px;

  @include for-small-screens {
    margin: {
      top: 20px;
      bottom: 30px;
    }
  }

  & > * {
    font-size: 16px;
    font-family: Helvetica Neue, sans-serif;
    font-weight: bold;
    border: none;
    height: 40px;
  }
}

.back-btn, .back-btn-active {
  background: $color-white;
  color: $color-disabled-text;
  padding: 0 30px 0 0;
}

.next-btn, .next-btn-active {
  border-radius: 4px;
  color: $color-white;
  width: 170px;
  @include flex-align-centered;
  justify-content: center;

  svg {
    margin-left: 8px;
  }
}

.back-btn {
  color: $color-disabled-text;
  cursor: default;

  &-active {
    color: $color-default-text;
    cursor: pointer;
  }
}

.next-btn {
  background: $color-disabled-grey;
  cursor: default;

  &-active {
    background: $color-primary-blue;
    cursor: pointer;

    &:hover {
      background: $color-hover-blue;
    }
  }
}
