@import "./../variables";
@import "./../mixins";

.settings {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: $color-disabled-text;

  border-top: 1px solid $color-disabled-grey;
  border-bottom: 1px solid $color-disabled-grey;
  width: 795px;
  margin-top: 20px;

  @include for-small-screens {
    width: 80vw;
  }
}

.setting-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
  margin: {
    top: 15px;
    bottom: 15px;
  }

  &:first-child {
    color: $color-default-text;
    p {
      display: table-cell;
      height: 40px;
      line-height: 40px;
    }
  }

  &:last-child {
    margin-bottom: 20px;
    input {
      width: 264px;
      @include for-small-screens {
        width: 200px;
      }
    }
  }
}

.setting-title {
  height: 40px;
  @include flex-align-centered;

  .setting-name {
    width: 110px;
    text-align: left;
  }

  img {
    margin-right: 20px;
  }

  @include for-small-screens {
    margin-right: 10px;
    .setting-name {
      width: 75px;
    }
    img {
      display: none;
    }
  }
}

.date-fields {
  @include flex-align-centered;
  justify-content: flex-start;

  .date-field:nth-child(2) {
    margin-left: 20px;
  }

  @include for-small-screens {
    flex-direction: column;
    align-items: flex-start;
    & > input {
      margin: 5px 0;

      &:nth-child(2) {
        margin-left: 0;
        margin-top: 10px;
      }
    }

    .select {
      margin-left: 0;
    }

    .select__control {
      width: 200px;
    }
  }
}

.field {
  font-family: Helvetica Neue, sans-serif;
  font-size: 14px;
  border: 1px solid $color-disabled-grey;
  border-radius: 4px;
  padding: {
    top: 8px;
    bottom: 8px;
    left: 16px;
  }

  &::placeholder {
    font-family: Helvetica Neue, sans-serif;
    font-size: 14px;

    @include for-small-screens {
      font-size: 12px;
    }
  }

  &-small {
    width: 100px;
    height: 40px;
    margin-right: 10px;
  }

  &-large {
    width: 264px;
    height: 90px;
  }

  &:focus {
    outline: $color-primary-blue;
    border-color: $color-primary-blue;
  }

  &:active::placeholder {
    color: $color-disabled-text;
  }
}

@include for-small-screens {
  .field {
    &-small {
      width: 80px;
      margin-right: 10px;
    }

    &-large {
      width: 200px;
    }
  }
}

.descriptions {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.description-field {
  resize: none;
}

.map-column-btn {
  width: 264px;
  height: 40px;
  background: $color-white;
  color: $color-primary-blue;
  border-radius: 4px;
  border: 2px $color-disabled-grey dashed;
  padding: {
    top: 10px;
    bottom: 10px;
  }
  margin-top: 10px;
  @include flex-align-centered;
  justify-content: flex-start;
  font-family: Helvetica Neue, sans-serif;
  font-weight: 550;

  &:hover {
    outline: $color-primary-blue;
    border-color: $color-primary-blue;
  }

  img {
    width: 12px;
    height: 12px;
    margin: {
      left: 8px;
      right: 10px;
    }
  }

  @include for-small-screens {
    width: 200px;
    height: 50px;
  }
}

.amounts-header {
  @include flex-align-centered;
  height: 34px;
  margin-top: 10px;

  p:first-child {
    font-weight: bold;
    color: $color-default-text;
    margin-right: 10px;
    line-height: 34px;
  }

  img:hover {
    cursor: pointer;
  }

  .tooltip {
    width: 68px;
    height: 100%;
    border-radius: 4px;
    background: $color-info;
    color: $color-white;
    text-align: center;
    line-height: 34px;
    margin-left: 6px;
  }
}

