@import "variables";
@import "mixins";

html {
  width: 100%;
  height: 100%;
}

body {
  font-size: 14px;
  font-family: Helvetica Neue, sans-serif;

  @include flex-align-centered;
  justify-content: center;
  width: 100%;
  height: 100%;
}
