$color-primary-blue: #2168F5;
$color-hover-blue: #044BD9;
$color-disabled-grey: #CFD4DD;
$color-disabled-upload-grey: #EEF2FA;
$color-hover-upload-grey: #DEE7FA;
$color-default-text: #20284A;
$color-disabled-text: #898EA3;
$color-info: #141419;
$color-white: #fff;